@model MB.ViewModels.DriverVM

<form method="post" asp-action="Update">
    <input asp-for="Driver.Id" hidden />
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Update Driver</h2>
        </div>
        <div class="row">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Driver.Full_name"></label>
                    <input asp-for="Driver.Full_name" class="form-control" />
                    <span asp-validation-for="Driver.Full_name" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Driver.Experience"></label>
                    <input asp-for="Driver.Experience" class="form-control" />
                    <span asp-validation-for="Driver.Experience" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Driver.Car"></label>
                    <select asp-for="Driver.Car_id" asp-items="@Model.TDDCar" class="form-control">
                        <option selected>--Select Driver Type--</option>
                    </select>
                    <span asp-validation-for="Driver.Car_id" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-75" value="Update" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}