@model MB.ViewModels.RouteVM

<form method="post" asp-action="Update">
    <input asp-for="Route.Id" hidden />
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Update Route</h2>
        </div>
        <div class="row">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Route.Name"></label>
                    <input asp-for="Route.Name" class="form-control" />
                    <span asp-validation-for="Route.Name" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Route.Distance"></label>
                    <input asp-for="Route.Distance" class="form-control" />
                    <span asp-validation-for="Route.Distance" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Route.Time"></label>
                    <input asp-for="Route.Time" class="form-control" />
                    <span asp-validation-for="Route.Time" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Route.Address_departure"></label>
                    <select asp-for="Route.Address_departure_id" asp-items="@Model.TDDAddress_departure" class="form-control">
                        <option selected>--Select Route Type--</option>
                    </select>
                    <span asp-validation-for="Route.Address_departure_id" class="text-danger"></span>
                </div>
                <div class="col-4">
                    <label asp-for="Route.Address_arrival"></label>
                    <select asp-for="Route.Address_arrival_id" asp-items="@Model.TDDAddress_arrival" class="form-control">
                        <option selected>--Select Route Type--</option>
                    </select>
                    <span asp-validation-for="Route.Address_arrival_id" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-75" value="Update" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}